 @import "bootstrap-sprockets";
 @import "bootstrap";

 .user-info {
   margin-top: 5px;
   margin-right: 5px;
   display: inline-block;
 }
 
 .user-info a p {
   margin: 0 5px;
   line-height: 17px; 
   display: inline-block;
 }
 
 .nav {
   margin-top: 5px;
 }
 
 .gravatar {
   max-width: 45px;
   margin: 5px 0;
 }
 
 
 
//  .avatar {
//    display: inline-block;
//    margin: 5px 0;
//    padding: 15px 0 0 0;
//    vertical-align: text-bottom;    
//    line-height: 2px;

//  }
 
//  .avatar a {
//     font-size: 1.1em;
//     color: #35a;
//     padding: 0;
// }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */